@import dataformat.BannerSurvey
@(bannerSurveys: Map[String, BannerSurvey])


<html>
    <head>
    </head>
    <body>
        <p>
            <a href="@routes.MonkeyController.allSurveys()">See general survey metadata</a>
        </p>
        <ul>
            @for((bannerId, banner) <- bannerSurveys) {
                <li>
                    <a href="@routes.MonkeyController.metadata(bannerId)">@banner.bannerName</a>
                    (<a href="@routes.MonkeyController.respondents(bannerId)">respondents</a>)
                </li>
            }
        </ul>
    </body>
</html>